body {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/690/498/544/hello-kitty-wallpaper-preview.jpg");
  background-color: #b76bda;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: pink;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgba(223, 107, 188, 0.596);
    font-size: 28px;
    color: rgb(216, 131, 131);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;

}
